template_cache
test/tmp
test/reports
tmp
bundled
.bundle
bin/edit_json.rb
bin/erubis
bin/prettify_json.rb
bin/rackup
bin/rake
bin/resque
bin/resque-web
bin/sow
bin/specrb
bin/testrb
bin/tilt
bin/uuid
debian/hs-envroot-factory.debhelper.log
debian/hs-envroot-factory.substvars
debian/hs-envroot-factory/
debian/files
lib/envrootfactoryversion.rb
